torch>=2.0
torch-geometric>=2.0
torch-cluster
torch-scatter
pytorch-warmup>=0.1
e3nn>=0.5
pydantic>=2.6
ase>=3.22
pyscf>=2.4
#==== Extra requirements ====#
#--------- Geo. Opt. --------#
# geometric>=1.0
#----------- PIMD -----------#
# ipi>=2.6
#------ Delta Learning ------#
# tblite>=0.3 # via conda
# tblite-python>=0.3 # via conda
# ===========================#
